/* 

font-sizes: 
  - small 1.2, 1.4, 1.6
  - medium 1.8, 2.0, 2.4
  - large 6.4

Margins: 
  - small 0.25rem 1.6rem 
  - medium 2.4rem, 3.6rem 4.8rem
  - large 6.4rem 9.6rem (for sections)

padding: 
  - small 1.2rem 2.4rem (buttons)
  - medium 
  - large 6.4rem (timer)

themes: retro, minimal, soft. All having dark themes respectively. 



*/

/* --secondary-color-retro: #78348a; */
:root {
  --primary-color-retro: #0e0912;
  --primary-color-retro--lighter: #160e1d;
  --secondary-color-retro: #fc6677;
  --secondary-color-retro--darker: #752f37;
  --secondary-color-retro--darkest: #39171b;
  --secondary-color-retro--text: #c5505e;
  --selection-color-retro: #fc6677;

  --font-family: "Press Start 2p";

  /* --primary-color-retro: #001818; */
  /* --primary-color-retro--lighter: #001f1e; */
  /* --secondary-color-retro: #02a4a1; */
  /* --secondary-color-retro--lighter: #016463; */
}

::selection {
  color: #ddd;
  background-color: var(--selection-color-retro);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* min-height: 100vh; */
  font-family: "Press Start 2p", sans-serif;
  color: var(--secondary-color-retro);
  background-color: var(--primary-color-retro);
}

.main {
  position: relative;
}

.app {
  transition: all 0.2s ease-in;
}

.container {
  margin: 0 auto;
}

.button-lg {
  cursor: pointer;

  font-family: "Press Start 2p", sans-serif;
  font-size: 1.4rem;
  background-color: var(--secondary-color-retro);

  padding: 1.2rem 1.6rem;

  border: none;
  border-bottom: 5px solid var(--secondary-color-retro--darker);

  transition: all 0.075s ease-out;
}

.button-lg:active {
  /* border: none; */
  border-bottom: 2px solid var(--secondary-color-retro--darker);
  transform: translateY(3px);
}

.mode-active {
  /* border: none; */
  border-bottom: 2px solid var(--secondary-color-retro--darker);

  transform: translateY(3px);
}

.button-md {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;

  font-family: "Press Start 2p", sans-serif;
  font-size: 1.6rem;
  color: var(--secondary-color-retro);
  background-color: transparent;
  border: none;

  transition: all 0.3s ease;
}

.button-md .icon {
  font-size: 2.4rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}
.grid-cols--1 {
  grid-template-columns: 1fr;
}
.grid-cols--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols--4 {
  grid-template-columns: repeat(4, 1fr);
}

.hidden {
  display: none;
}

.open {
  transform: rotate(180deg);
}

/* Used with menu */
.overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
