.authorMessage {
  background-color: antiquewhite;
  padding: 0.8rem;

  position: absolute;

  top: 50%;
  right: 50%;
  transform: translateX(50%);
}

.authorMessage__heading {
  color: black;
  font-size: 0.8rem;
}

.tasks {
  padding: 9.6rem;
}

.tasks__container {
  /* ////////////////////////////////////// */
  /* CHANGE THIS AFTER THE MESSAGE PLEASE */
  position: relative;
  /* //////////////// */

  max-width: 80rem;

  /* Up to change once whole design complete.  */
  min-width: 60rem;
}

/* This button opens up all the tasks. */
.tasks__container > .button-md {
  position: relative;
  margin-bottom: 3.6rem;
  font-size: 2.4rem;
}
.open-tasks > .icon {
  font-size: 4rem;
}
/* --- */

.open-tasks-container {
  display: flex;
  /* display: none; */
  flex-direction: column;
  gap: 3.6rem;

  padding: 4.8rem;
  padding-bottom: 6.4rem;
  border: 3px solid var(--secondary-color-retro--darker);
}

.open-tasks-container.hidden {
  display: none;
}

/* .task {
} */

/* textarea input */
.task__content {
  /* display: none; */
  resize: none;
  overflow: auto;

  min-height: 10rem;
  min-width: 100%;
  max-width: 150%;
  padding: 1.6rem;

  color: var(--secondary-color-retro--text);
  font-family: var(--font-family);
  font-size: 1.2rem;
  line-height: 1.5;

  background-color: var(--primary-color-retro--lighter);
  border: 2px solid var(--secondary-color-retro--darker);
}
.task__content:focus {
  outline: none;
}
.task__content::placeholder {
  color: var(--secondary-color-retro--darker);
}

.task__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

/* button */
.task__check {
  cursor: pointer;
  background-color: var(--primary-color-retro--lighter);
  border: 3px solid var(--secondary-color-retro);
}

/* tick icon */
.task__check .icon {
  display: block;
  color: transparent;
  padding: 0.5rem;
}

/* /////////////////////////////////////////// */
/* THIS CLASS IS ALSO USED FOR THE MENU TICKS. */
/* /////////////////////////////////////////// */
.task__check .icon.completed {
  color: var(--secondary-color-retro);
}

.task__text {
  padding: 1.2rem;
  font-size: 1.4rem;
  color: var(--secondary-color-retro);
}

/* ADD TASKS SECTION */

.add-task-container {
  position: relative;
  margin-top: 3.2rem;
}

.add-task-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2rem 2.4rem;
}

.add-task-button:active {
  transform: translate(0, 3px);
}

.close-task-button {
  position: absolute;
  top: -48%;
  left: 0;
}

.submit-task-button {
  position: absolute;
  bottom: -35%;
  right: 0;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;

  border-bottom: 4px solid var(--secondary-color-retro--darker);
}

.submit-task-button:active {
  transform: translateY(1px);
}

.add-task .task__content {
  min-height: 8rem;
  font-size: 1.6rem;
  color: var(--secondary-color-retro);
}
