.authorMessage {
  background-color: antiquewhite;
  padding: 0.8rem;

  position: absolute;

  top: 50%;
  right: 50%;
  transform: translateX(50%);
}

.authorMessage__heading {
  color: black;
  font-size: 0.8rem;
}

.tasks {
  padding: 9.6rem;
}

.tasks__container {
  /* ////////////////////////////////////// */
  /* CHANGE THIS AFTER THE MESSAGE PLEASE */
  position: relative;
  /* //////////////// */

  max-width: 60rem;

  /* Up to change once whole design complete.  */
  width: 100%;
}

/* This button opens up all the tasks. */
.tasks__container > .button-md {
  position: relative;
  margin-bottom: 3.6rem;
  font-size: 2.4rem;
}
.open-tasks > .icon {
  font-size: 4rem;
}
/* --- */

.open-tasks__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  padding: 3.2rem;

  /* use the line below this comment to implement the task sorting feature once you start. */
  /* padding-right: 6.4rem; */

  padding-bottom: 6.4rem;
  border: 3px solid var(--secondary-color-retro--darker);
  background-color: var(--primary-color-retro--lighter);

  transition: all 0.2s ease-in;
}

.open-tasks__container.hidden {
  display: none;
}

.task {
  position: relative;
}

.task__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  gap: 2.4rem;
}
.heading-text {
  text-align: left;
}

/* button */
.task__check {
  cursor: pointer;
  background-color: var(--primary-color-retro--lighter);
  border: 3px solid var(--secondary-color-retro);
}

/* tick icon */
.task__check .icon {
  display: block;
  color: transparent;
  padding: 0.5rem;
}

/* textarea input */
.add-task__input {
  /* display: none; */
  resize: none;
  overflow: auto;

  min-height: 8rem;
  min-width: 100%;
  padding-inline: 1.6rem;

  color: var(--secondary-color-retro--text);
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;

  background-color: var(--primary-color-retro--lighter);
  border: 2px solid var(--secondary-color-retro--darker);
}
.add-task__input:focus {
  outline: none;
}
.add-task__input::placeholder {
  color: var(--secondary-color-retro--darker);
}

/* /////////////////////////////////////////// */
/* THIS CLASS IS ALSO USED FOR THE MENU TICKS. */
/* /////////////////////////////////////////// */
.task__check .icon.completed {
  color: var(--secondary-color-retro);
}

.task__text {
  padding: 1.2rem;
  font-size: 1.4rem;
  color: var(--secondary-color-retro);
}

.task__textarea {
  resize: none;
  overflow: auto;
  min-height: 8rem;
  max-height: 12rem;
  min-width: 100%;
  padding: 1.6rem;
  padding-right: 6.4rem;

  color: var(--secondary-color-retro--text);
  font-family: var(--font-family);
  font-size: 1.2rem;
  line-height: 1.5;

  background-color: var(--primary-color-retro--lighter);
  border: 2px solid var(--secondary-color-retro--darker);
}
.task__textarea:focus {
  outline: none;
}

/* DO THIS FOR LATER PLEASE. */
/* .task__textarea::-moz-input-placeholder {
  color: white;
} */

.delete-task-button {
  position: absolute;
  /* color: var(--secondary-color-retro--darker); */
  font-size: 1rem;
  bottom: -25%;
  right: 0;

  padding: 0.6rem 1.2rem;
  border-bottom: 4px solid var(--secondary-color-retro--darker);
}

/* //////////////////////// */
/* ADD TASKS SECTION */
/* //////////////////////// */
.add-task__container {
  position: relative;
  /* margin-top: 3.2rem; */
}
.task__textarea::placeholder {
  color: var(--secondary-color-retro--darkest);
}

.add-task__form {
  position: relative;
}

.add-task-button {
  position: absolute;
  /* top: 0;
  left: 0; */
  padding: 1.2rem 2.4rem;

  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.add-task-button:active {
  transform: translate(-50%, 3px);
}

.submit-task-button {
  position: absolute;
  bottom: -50%;
  right: 0;
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;

  border-bottom: 4px solid var(--secondary-color-retro--darker);
}
.submit-task-button:active {
  transform: translateY(1px);
}

.cancel-task-button {
  position: absolute;
  bottom: -50%;
  right: 20%;
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;

  color: var(--secondary-color-retro);
  border-bottom: 4px solid transparent;
}
